Requirements:
1. Basic SW/R configuration - hostname, passwords, encryption, motd
2. OSPF Routing between Routers
3. IP Addressing 
   - mandatory 196.240.17.0/24
   - 3 departments-CONTABILITY, MARKETING, IT
   - min 30 hosts/department
   => 196.240.17.0   196.240.17.64   196.240.17.128
   - the rest IP addresses are not mandatory
4. VLAN Configuration
5. ACLs configuration 
   - CONTABILITY have access to MARKETING
   - CONTABILITY have NO access to IT
   - MARKETING have NO access to CONTABILITY/IT
   - IT have access to CONTABILITY/MARKETING
6. Automatic DHCP
7. Web server config.
   - ACL-permit all hosts to access the web server
   - DNS server-translate IP into domain
   - basic web page config.
8. AP wireless Conf
   -SSID
   -PASSWORD
   -ACL- guests connected to AP have access to the Web Server, but not to the PCs